.khung{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background: orange;
}
.Boxmidthechenvaanh
{	
	width: 100%;
	height: 300px;
	background: blue;
}
.Boxmidthechenvaanh .bilthechen
{	margin: auto;
	float: left;
	width: 60%;
	height: 300px;
	background: #441c10;
}
.Boxmidthechenvaanh .bilhinhanh
{	margin: auto;
	float: left;
	width: 40%;
	height: 100%; 
	background:black;
}
.Boxmidluachon
{
	width: 100%;
	height: 250px;
	background: pink;
}
.luachon1
{
	float: left;
	margin: 0 auto;
	width: 25%;
	height: 100%;
	background: #ffff;
}
.luachon2
{	height: 100%;
	float: left;
	margin: 0 auto;
	width: 25%;
	background: #ffff;
}
.luachon3
{	height: 100%;
	float: left;
	margin: 0 auto;
	width: 25%;
	background: #ffff;
}
.luachon4
{	height: 100%;
	float: left;
	margin: 0 auto;
	width: 25%;
	background: #ffff;
}
.Boxmidnoidungvaanh
{
	width: 100%;
	height: 300px;
	background: yellow;
}
.bilnoidung
{	float: left;
	width: 60%;
	height: 300px;
	background: #ffff;
}
ul
{	
	padding-top: 10px;		
	list-style-type: bengali;
}
li
{
	padding-top: 5px;
	font-size: initial;
	font-weight: bold;
	color: black;
}
.Boxmidnoidungvaanh .bilanh
{
	margin: auto;
	float: left;
	width: 40%;
	height: 100%; 
	background:black;
}