.khung{
	width: 1200px;
	height: 1500px;
	margin: 0 auto;
	background: orange;
}
.boxtoptd
{	margin: auto;
	width: 100%;
	height: 10%;
	background: #3f1c0a;
}

.biltieude
{	float: left;
	margin: auto;
	width: 50%;
	height: 100%;
	background:#3f1c0a;
}

.bilmenu
{	float: left;
	margin: auto;
	width: 50%;
	height: 100%;
	background:#3f1c0a;
}
.bilmenu ul
{	
	width: 100%;
	height: 200px;
	float: left;
	
	margin: auto;
	
	list-style-type: none;
	text-align: center;
}
.bilmenu ul li
{	
	padding-right: 10px;
	margin:auto;
	display: inline-table;
	
	padding-top: 60px;
	
	text-align: center;
}
.bilmenu ul li a
{	
	width: 90px;
	color:#fffdfc;
	font-size: 15px;
	text-decoration: none;
	display: block;
	
}
.bilmenu ul li a:hover
{
	width: 100px;
	background: yellow;
}
}