.khung{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background: orange;
}
.boxtopmenu {
	float: left;
	width:1000px;
	height: 8%;
	background: black;
}
.boxtopmenu img.anh{
	float: left;
	width: 30px;
	height:20px;
	margin:20px 10px;
}
.boxtopmenu h1.h1dt{
	float: left;
	color: white;
	font-size: 12px;
	font-family: arial;
	margin-top: 20px;
	font-weight: 500;
}
.boxtopmenu h1.time{
	float: right;
	color: white;
	font-size: 12px;
	font-family: arial;
	margin-top: 20px;
	font-weight: 500;
	margin-right: 20px;
}
.boxtopmenu img.img{
	float: right;
	margin-right: 10px;
	width: 20px;
	height:20px;
	margin-top: 17px;
}
.boxtopit{
	width: 1000px;
	height:80px;
	float: left;
	background: blue;
}
.boxtopit h1.ituda{
	float: left;
	margin:0;
	font-size: 35px;
	color: #fcca05;
	text-transform: uppercase;
	font-family: arial;
	margin:20px 30px;
}
.boxtopit ul{
	float: left;
	margin-top: 35px;
	margin-left: 13%;
	padding: 0;
}
.boxtopit ul li{
	float: left;
	list-style: none;
	margin-left: 30px;

}
.boxtopit ul li a{
	font-size: 15px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-family: arial;
	font-weight: 540;
}
.boxtopyour{
	width: 1000px;
	height:300px;
	margin:0;
	clear: both;
	background: black;
}
.boxtopyour img.imga{
	width: 100%;
	height:100%;
}
.boxtopyour h1.your{
	clear: both;	
	font-size: 50px;
	width: 40%;	
	font-family: arial;
	text-transform: uppercase;
	margin:-250px 0 0 50px;
	color: white;
}
.boxtopyour h1.lorem{
	font-size: 10px;
	width: 40%;	
	font-family: arial;
	text-transform: uppercase;
	margin:0px 0 0 50px;
	color: white;
	font-weight: 520;
	margin-bottom: -100px;
	line-height: 30px;
}


.khung1{
	clear: both;
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background: orange;
}
.Boxmidthechenvaanh
{	
	width: 100%;
	height: 300px;
	background: blue;
}
.Boxmidthechenvaanh .bilthechen
{	margin: auto;
	float: left;
	width: 60%;
	height: 300px;
	background: #25252D;
}
a
{
	background: yellow;
	margin-left: 20px;
	font-size: 30px;
	text-decoration: none;
}
a:hover
{
	background: red;
}
.Boxmidthechenvaanh .bilhinhanh
{	margin: auto;
	float: left;
	width: 40%;
	height: 100%; 
	background:black;
}
.Boxmidluachon
{
	width: 100%;
	height: 250px;
	background: pink;
}
.bitluachon1
{
	float: left;
	margin: 0 auto;
	width: 25%;
	height: 100%;
	background: #ffff;
}
.bitluachon2
{	height: 100%;
	float: left;
	margin: 0 auto;
	width: 25%;
	background: #ffff;
}
.bitluachon3
{	height: 100%;
	float: left;
	margin: 0 auto;
	width: 25%;
	background: #ffff;
}
.bitluachon4
{	height: 100%;
	float: left;
	margin: 0 auto;
	width: 25%;
	background: #ffff;
}
.Boxmidnoidungvaanh
{
	width: 100%;
	height: 300px;
	background: yellow;
}
.bilnoidung
{	float: left;
	width: 60%;
	height: 300px;
	background: #ffff;
}
ul
{	
	padding-top: 10px;		
	list-style-type: bengali;
}
li
{
	padding-top: 5px;
	font-size: initial;
	font-weight: bold;
	color: black;
}
.Boxmidnoidungvaanh .bilanh
{
	margin: auto;
	float: left;
	width: 40%;
	height: 100%; 
	background:black;
}



.boxduoi{
	clear: both;
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	background: grey;
}
.buoiduoi .box{
	margin: 0;
	float: left;
	width: 1000px;
	height: 500px;
}
.box .Boxinh{
	float: left;
	width: 100%;
	height: 500px;
	background: black;
	margin-top: -500px;
}
.box img{
	float: left;
	width: 100%;
	height: 500px;
	opacity: 0.2;
}
.box h3{
	float: left;
    margin-top: 69px;
    width: 100%;
    height: 30px;
    font-size: 41px;
    line-height: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.box p{
    float: left;
    width: 660px;
    height: 80px;
    margin-top: 2px;
    margin-left: 180px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
}
.box .tron{
    float: left;
    width: 1000px;
    margin-top: 5px;
    margin-left: 13px;
    height: 200px;
}
.tron .tron1{
	float: left;
	margin: 30px;
	width: 100px;
	height: 100px;
	border-radius: 70px;
	border: 4px solid white;
}
.tron1 h4{
	float: left;
    margin: 13px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 45px;
    color: white;

}
.tron1 h5{
	    float: left;
    margin: 12px;
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 23px;
}
.tron .line{
	float: left;
	margin: 0px;
	width: 100px;
	height: 2px;
	background: white;
	border-bottom: 2px solid #ccc;
	margin-top: 81px;
}


.boxduoi .boxduoi_dau{
	width: 100%;
	height: 500px;
	background: green;
}


.boxduoi .boxduoi_giua{
	width: 100%;
	height: 450px;
	background: white;
	float: left;
	margin-top: -2px;
}
.boxduoi_giua .billimg{
	width: 50%;
	height: 100%;
	float: left;
}
.billimg .pic1{
	width: 100%;
	height: 100%;
}
.boxduoi_giua .billnoidung{
	float: left;
	width: 50%;
	height: 100%;
}
.billnoidung h1.tennoidung{
	font-size: 50px;
	text-transform: uppercase;
	text-align: left;
	font-family: arial;
}
.billnoidung p.chitiet{
	float: left;
	margin-top: -40px;
	font-size: 24px;
	text-align: left;
	font-family: arial;
}
.billnoidung a.lienket1{
	width: 150px;
	height: 50px;
	float: left;
	background: yellow;
	color: white;
	font-size: 24px;
	text-decoration: none;
	font-family: arial;
	text-align: center;
	line-height: 50px;
}
.billnoidung a.lienket1:hover{
	color: red;
	background: green;
}
.billnoidung a.lienket2{
	width: 150px;
	height: 50px;
	float: left;
	margin-left: 15px;
	background: grey;
	color: white;
	font-size: 24px;
	text-decoration: none;
	font-family: arial;
	text-align: center;
	line-height: 50px;
}
.billnoidung a.lienket2:hover{
	color: red;
	background: green;
}

.boxduoi .boxduoi_cuoi{
	clear: both;
	width: 100%;
	height: 50px;
	background: black;
}
.boxduoi .boxduoi_cuoi h1.daucuoidong{
	color: white;
	text-transform: capitalize;
	font-size: 20px;
	text-align: center;
	float: left;
	margin-left: 125px;
}
.boxduoi .boxduoi_cuoi h1.giuacuoidong{
	color: white;
	text-transform: capitalize;
	font-size: 20px;
	float: left;
}
.boxduoi .boxduoi_cuoi h1.ketthuccuoidong{
	float: left;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}
